{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 text-center p-4 ">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 text-center p-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, id eum. Facere, eveniet eos ex ipsum
                repellat aut ut recusandae autem mollitia labore temporibus enim iusto, reiciendis quis pariatur cum.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, blanditiis qui! Labore qui
                suscipit aut eaque iste obcaecati, repudiandae ex omnis vero dolorem numquam sapiente nisi quia.
                Necessitatibus, beatae voluptate?
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus delectus dolor incidunt eum expedita
                tempore impedit voluptatem soluta quas totam maiores assumenda facilis cupiditate quaerat, blanditiis
                aliquam sit facere magni?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus delectus dolor incidunt eum expedita
                tempore impedit voluptatem soluta quas totam maiores assumenda facilis cupiditate quaerat, blanditiis
                aliquam sit facere magni?</p>
        </div>
    </div>
</div>
{% endblock %}