<footer class="bg-black text-white pt-2 pb-2">
    <div class="container-fluid">
        <div class="row justify-content-between d-flex align-items-center">
            <div class="col-md-6 ">
                <a class="text-white text-decoration-none" href="{% url 'index' %}">Food Delivery</a>
            </div>
            <div class="col-md-6 text-end">
                <a href="#" class="link-underline-opacity-0 text-decoration-none text-white">Restaurant login</a>
            </div>
        </div>
        <hr>
        <div class="row text-center ">
            <p class="fs-6 m-0">© 2024 Online Food Delivery. All Rights Reserved.</p>
        </div>
    </div>
</footer>