{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 text-center p-4 ">
            <h1>Online Food Delivery Service</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-12 text-center p-4">
            <h2>Place an order</h2>
            <button class="btn btn-primary btn-lg">Order Now</button>
        </div>
    </div>
</div>
{% endblock %}